<template>
  <div class="verticleBlock">
    <table class="table">
      <tr>
        <th class="rt">Past Transaction</th>
        <td>
          <input type="text" class="text-input" /><img
            src="../assets/warning.png"
            alt="Details"
          />
        </td>
      </tr>
      <tr>
        <th class="rt">Current Transaction</th>
        <td>
          <input type="text" class="text-input" /><img
            src="../assets/warning.png"
            alt="Details"
          />
        </td>
      </tr>
      <tr>
        <th class="rt">Total(A)</th>
        <td><input type="text" class="text-input mr" /></td>
      </tr>
      <tr>
        <th class="rt">Threshold</th>
        <td>
          <input type="text" class="text-input" /><img
            src="../assets/warning.png"
            alt="Details"
          />
        </td>
      </tr>
      <tr>
        <th class="rt">Total(B)</th>
        <td>
          <input type="text" class="text-input" /><img
            src="../assets/warning.png"
            alt="Details"
          />
        </td>
      </tr>
      <tr>
        <th class="rt">TCS Already Paid(C)</th>
        <td><input type="text" class="text-input mr" /></td>
      </tr>
      <tr>
        <th class="rt">TCS Deduction (B-C)</th>
        <td>
          <input type="text" class="text-input" /><img
            src="../assets/warning.png"
            alt="Details"
          />
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.verticleBlock {
  margin-left: 80px;
  background-color: #e7ebee;
  border-radius: 17px;
  padding: 10px;
  margin-bottom: 40px;
  margin-right: 80px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 80px;
}
.verticleBlock table tr th {
  text-align: left;
  border: none;
}

@media screen and (min-width: 1200px) {
  .detailsBlock {
    margin-left: 55px;
    margin-right: 13px;
  }
}
.verticleBlock table tr td {
  float: right;
  white-space: nowrap;
  .mr {
    margin-right: 45px;
  }
  label {
    margin-left: 10px;
  }
  input {
    margin-right: 21px;
  }

  border: none;
}
.space-between {
  justify-content: center;
}
</style>