<template>
  <div class="heading">
    <div class="">
      <h1>TCS Calculator</h1>
    </div>
    <div class="text-wrap">
      <div>
        <label class="ft">PAN NO. </label>
        <input type="text" name="pan" id="pan" class="text-input" />
      </div>
      <div>
        <label class="ft">CRN NO.</label>
        <input type="text" name="crn" id="crn" class="text-input" />
      </div>
      <div class="">
        <img src="../assets/refresh.png" alt="refresh" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.heading {
  padding: 10px;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  display: grid;
  @media screen and (min-width: 1623px) {
    grid-template-columns: 1fr 1fr;
  }
  .text-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    @media screen and (min-width: 1623px) {
      grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
    }
  }
  h1 {
    font-weight: bold;
  }

  label {
    justify-items: center;
  }

  input {
    justify-items: center;
  }

  img {
    border-radius: 10px;
    float: right;
    @media screen and (max-width: 925px) {
      float: none;
      margin-top: 10px;
    }
  }
}
</style>