<template>
  <div class="backg">
    <div class="container">
      <div class="d-flex space-between">
        <label class="ft">Purpose</label>
        <input type="text" class="text-input" />
      </div>
      <div class="d-flex space-between">
        <label class="ft">Other Charges</label>
        <input type="text" class="text-input" />
      </div>
    </div>
    <div class="container">
      <div class="d-flex space-between">
        <label class="ft">IT-Type</label>
        <input type="text" class="text-input" />
      </div>
      <div class="d-flex space-between">
        <label class="ft">GST</label>
        <input type="text" class="text-input" />
      </div>
    </div>
    <div class="container">
      <div class="d-flex space-between">
        <label class="ft">TCS Applicable </label>
        <input type="text" class="text-input" />
      </div>
      <div class="d-flex space-between">
        <label class="ft">Transaction Amount </label>
        <input type="text" class="text-input" />
      </div>
    </div>
    <div class="container">
      <div class="d-flex space-between">
        <label class="ft">FC Amount</label>
        <input type="text" class="text-input" />
      </div>
      <div class="d-flex space-between">
        <label class="ft">TCS</label>
        <input type="text" class="text-input" />
      </div>
    </div>
    <div class="container">
      <div class="d-flex space-between">
        <label class="ft">Rate</label>
        <input type="text" class="text-input" />
      </div>
      <div class="d-flex space-between">
        <label class="ft">Net Amount</label>
        <input type="text" class="text-input" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.backg {
  border-radius: 17px;
  -webkit-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
  -moz-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
  box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 27px;
  padding-top: 27px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  @media screen and (max-width: 420px) {
    width: max-content;
    margin: 0 auto;
  }
}

.container {
  display: grid;
  grid-row-gap: 10px;
  width: auto;
}
</style>