<template>
  <div class="wrapper">
    <h1>TCS</h1>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.wrapper {
  background-color: #0f185d;
  padding: 10px;

  h1 {
    margin-left: 80px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
  }
}
</style>