<template>
  <div id="app">
    <nav-app></nav-app>
    <heading-app></heading-app>
    <maininput-app></maininput-app>
    <div class="transaction-wrapper">
      <div>
        <billing-app></billing-app>
      </div>
      <div class="table-responsive">
        <transaction-app></transaction-app>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../src/components/Nav.vue";
import Heading from "./components/Heading.vue";
import MainInput from "./components/MainInput.vue";
import BillingBox from "./components/BillingBox.vue";
import TransactionTable from "./components/TransactionTable.vue";

export default {
  name: "App",
  components: {
    "nav-app": Nav,
    "heading-app": Heading,
    "maininput-app": MainInput,
    "billing-app": BillingBox,
    "transaction-app": TransactionTable,
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

#app {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 1200px) {
  #app {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
  .transaction-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-right: 85px;
    margin-left: 25px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      align-items: center;
    }
  }
</style>